services:
  webserver:
    image: apache/airflow:2.7.1
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./airflow_db:/opt/airflow/airflow_home
    environment:
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__CORE__AIRFLOW_HOME: /opt/airflow/airflow_home
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/dags
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: sqlite:////opt/airflow/airflow_home/airflow.db
    command: webserver

  scheduler:
    image: apache/airflow:2.7.1
    restart: always
    volumes:
      - ./dags:/opt/airflow/dags
      - ./airflow_db:/opt/airflow/airflow_home
    environment:
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__CORE__AIRFLOW_HOME: /opt/airflow/airflow_home
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/dags
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: sqlite:////opt/airflow/airflow_home/airflow.db
    command: scheduler